$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$green: rgb(0, 250, 154);
// $green: rgb(144, 238, 144);

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

// .modal {

// }

// .modalTopDesign {

// }

.modal,
.modalTopDesign {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modalContent {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 70rem;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: $green;
  padding: 10px 0;
  height: 150px;
  font-size: 2rem;
}

.modalContent,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: $white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: $green;
  text-decoration: none;
  cursor: pointer;
}
