$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$green: rgb(0, 250, 154);
// $green: rgb(144, 238, 144);
$grey: rgb(50, 50, 50);

body,
html {
  height: auto;
  margin: 0;
  font-family: Arial;
  background: $white;
}

.backgroundTitle {
  background: $white;
  padding-bottom: 3rem;
}

.tabLink {
  background: $grey;
  color: $white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tabLink:hover {
  background-color: $white;
  color: $black;
}

.tabImage {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 3rem 2rem;
  border: solid 0.2rem $green;
  box-shadow: 5px 5px 10px 1px $black;
  border-radius: 2rem;
  padding: 1.5rem;
  height: 40rem;
  p {
    margin: 2rem 0;
    font-size: 1.5rem;
    overflow: hidden;
  }
  a {
    // below remove for default
    display: block;
    color: $black;
    border-radius: 2rem;
    padding: 1.3rem;
  }
  a:hover {
    background: $green;
  }
  img {
    max-width: 30rem;
    object-fit: contain;
    height: 50%;
    // width: 100%;
    // margin: 0 10px;
  }
}

.tabContent {
  color: $black;
  display: block;
  padding: 100px 20px;
  height: 100%;
  text-align: center;
  .fullPageTabsTitle {
    margin: 17rem 0 5rem;
  }
}

// below not in use
// #all,
// #websites {
// height: auto;
// }
// #all,
// #calculator,
// #codeCademy,
// #codePen,
// #emails,
// #frontEndMentor,
// #games,
// #googleMaps,
// #landingPages,
// #modal,
// #others,
// #websites {
//   background-color: $green;
// }

/*
#calculator {
  background-color: green;
}
#codeCademy {
  background-color: blue;
}
#codePen {
  background-color: orange;
}
#emails {
  background-color: pink;
}
#frontEndMentor {
  background-color: blueviolet;
}
#games {
  background-color: teal;
}
#googleMaps {
  background-color: yellow;
}
#landingPages {
  background-color: olivedrab;
}
#modal {
  background-color: aquamarine;
}
#others {
  background-color: steelblue;
}
#websites {
  background-color: violet;
}*/
