// variables *****
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$green: rgb(0, 250, 154);
$grey: rgb(50, 50, 50);

// base *****
.green,
.white {
  text-shadow: 2px 2px $black;
}

.green {
  color: $green;
}

.white {
  color: $white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: default;
  font-family: "Roboto Slab", serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
a:hover {
  color: $green;
}

img {
  width: 50vw;
  height: auto;
}

.handWritingFont {
  font-family: "Caveat", cursive;
}

// home page *****
.nav {
  overflow: hidden;
  background-color: $green;
  // position: relative;
  a {
    color: $white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    text-align: center;
    text-shadow: 2px 2px $black;
  }
  a.icon {
    background: $black;
    display: block;
    right: 50%;
    top: 0;
    // position: absolute;
  }
  #navLinks {
    display: none;
  }
  .active {
    background-color: $white;
    color: black;
    .white {
      color: $green;
    }
  }
  .active,
  a:hover {
    text-shadow: none;
  }
  a:hover {
    background-color: $white;
    color: $black;
  }
}

.centre {
  text-align: center;
}

.logoTop {
  img {
    width: 100%;
    height: 30rem;
    margin: 5rem auto;
    object-fit: cover;
  }
}

.head {
  margin-top: 10rem;
  font-size: 10rem;
}

.sizeH1 {
  font-size: 4rem;
}

.head,
.sizeH1 {
  font-weight: 100;
}

.gridx2 {
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
  .profilePicture {
    border-radius: 50%;
    width: 12rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdownContent {
  display: none;
  position: absolute;
  background: rgb(22, 224, 141);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 $black;
  padding: 12px 16px;
  z-index: 1;
  cursor: pointer;
  img {
    width: 300px;
    height: 200px;
  }
}
.dropdownContent:hover {
  display: block;
}

.smallBanner {
  font-size: 2rem;
  text-align: right;
  background: $green;
  border-radius: 1.5rem;
  width: 30rem;
  margin: 0 auto;
  padding: 0.5rem 1rem 0.5rem 0;
}

.background {
  background-image: url(../../images/background/banner-904884_1920.jpg);
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
  margin-top: 5rem;
  .backgroundContent {
    color: $white;
    .border {
      background: rgba(0, 0, 0, 0.6);
      text-shadow: 3px 2px 1px $black;
      font-size: 2rem;
      line-height: 4rem;
      a {
        color: $green;
      }
      a:hover {
        color: $white;
      }
    }
  }
  .unorganiseList {
    list-style-type: none;
    li {
      display: inline-block;
      margin: 0 3rem;
    }
    .marginRight {
      margin-right: 0.5rem;
    }
  }
}

.title {
  color: $green;
  border-bottom: solid 0.5rem;
  background: $white;
  padding: 3rem 0;
  margin: 10rem 0 5rem;
  text-transform: capitalize;
}

.floatRight {
  display: float;
  float: right;
}

.paragraph {
  line-height: 2.5rem;
  width: 80%;
  margin: 3rem auto 5rem;
  font-size: 1.5rem;

  .profilePicture {
    border-radius: 50%;
    width: 22rem;
    margin: 0 0 2rem 2rem;
    border: solid 0.2rem $green;
    padding: 0.3rem;
  }
}
.border {
  border: solid 3px;
  border-radius: 3rem;
  border-color: $green;
  width: 90%;
  padding: 2rem;
  margin: 0 auto;
  .smallBanner {
    margin: 2rem auto 4rem;
    text-align: center;
  }
  .gridx2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0;
  }
  img {
    width: 100%;
    height: 100%;
    border: solid 1rem $white;
  }
  .button {
    font-size: 2rem;
  }
  .lineHeight {
    line-height: 3rem;
  }

  .button,
  .fontAewsome {
    border-bottom: solid 0.2rem $black;
    padding-bottom: 0.3rem;
  }
  .button:hover,
  .fontAewsome:hover {
    border-bottom-color: $green;
  }
}

.title,
.button:hover,
.fontAwesome:hover {
  text-shadow: 1px 1px 1px $black;
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 11.5rem;
  right: 2rem;
  z-index: 99;
  border: none;
  outline: none;
  background: $green;
  color: $white;
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1.3rem;
  transition: 0.5s ease-in;
}
#backToTop:hover {
  background-color: $white;
  color: $green;
  border: solid 1px $green;
}

.footer {
  margin: 6rem 0 0;
  background: $black;
  color: $white;
  .logo,
  .logoRight {
    width: 5rem;
    display: float;
    position: relative;
    top: 2rem;
  }
  .logo {
    float: left;
  }
  .logoRight {
    float: right;
  }
  p {
    padding: 2rem 0;
    font-style: italic;
  }
}

// full page tabs *****
body,
html {
  height: auto;
  margin: 0;
  font-family: Arial;
  background: $white;
}

.backgroundTitle {
  background: $white;
  padding-bottom: 3rem;
}

.tabLink {
  background: $grey;
  color: $white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tabLink:hover {
  background-color: $white;
  color: $black;
}

.tabImage {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 3rem 2rem;
  border: solid 0.2rem $green;
  box-shadow: 5px 5px 10px 1px $black;
  border-radius: 2rem;
  padding: 1.5rem;
  height: 40rem;
  p {
    margin: 2rem 0;
    font-size: 1.5rem;
    overflow: hidden;
  }
  a {
    display: block;
    color: $black;
    border-radius: 2rem;
    padding: 1.3rem;
  }
  a:hover {
    background: $green;
  }
  img {
    max-width: 30rem;
    object-fit: contain;
    height: 50%;
  }
}

.tabContent {
  color: $black;
  display: block;
  padding: 100px 20px;
  height: 100%;
  text-align: center;
  .fullPageTabsTitle {
    margin: 17rem 0 5rem;
  }
}

// modal image *****
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

.modal,
.modalTopDesign {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modalContent {
  margin: auto;
  display: block;
  width: 80%;
  height: 80%;
  object-fit: contain;
  max-width: 70rem;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: $green;
  padding: 10px 0;
  height: 150px;
  font-size: 2rem;
}

.modalContent,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: $white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: $green;
  text-decoration: none;
  cursor: pointer;
}

// navigation mobile *****
.white {
  text-shadow: 2px 1px $black;
}

.nav {
  .navMobile {
    overflow: hidden;
    background: $green;
    a {
      color: $white;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.5rem;
      display: block;
      text-align: center;
      text-shadow: 2px 2px $black;
    }
    a.icon {
      background: $black;
      display: block;
      right: 50%;
      top: 0;
    }
    #navLinks {
      display: none;
    }
    .active {
      background-color: $white;
      color: black;
      .white {
        color: $green;
      }
    }
    .active,
    a:hover {
      text-shadow: none;
    }
    a:hover {
      background-color: $white;
      color: $black;
      .green,
      .white {
        color: rgb(0, 250, 154);
      }
    }
  }
}

// navigation desktop *****
.nav {
  text-align: center;
  .navDesktop {
    a {
      display: none;
    }
  }
}

// media *****
@media only screen and (max-width: 600px) {
  .backgroundContent {
    .unorganiseList {
      li {
        display: block;
      }
    }
  }
  .smallBanner {
    width: 20rem;
  }
  .paragraph {
    .firstBlock {
      padding-top: 30rem;
    }
  }
}

@media only screen and (min-width: 700px) {
  .nav {
    .navMobile {
      display: none;
    }
  }
  .nav {
    .navDesktop {
      a {
        display: inline-block;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .modalContent {
    width: 100%;
  }
  .head {
    font-size: 5rem;
  }
  .logoTop {
    display: none;
  }
  .logoWords {
    display: block;
  }
  .tabImage {
    img {
      max-width: 30rem;
      object-fit: cover;
    }
  }
}

@media only screen and (min-width: 900px) {
  .tabContent {
    .fullPageTabsTitle {
      margin: 10rem 0 5rem;
    }
  }
}

@media only screen and (max-width: 900px) {
  .border {
    .gridx2 {
      grid-template-columns: auto;
    }
  }
  .tabLink {
    width: 50%;
  }
  .tabLinkAll {
    width: 100%;
  }
}
